name: UI CI

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build production bundle
        run: CI=false npm run build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE="suissitakwa/retail-ui"
          TAG_SHA="${IMAGE}:${GITHUB_SHA}"
          TAG_LATEST="${IMAGE}:dev-latest"

          docker build -t "$TAG_SHA" .
          docker push "$TAG_SHA"

          docker tag "$TAG_SHA" "$TAG_LATEST"
          docker push "$TAG_LATEST"
